apiVersion: v1
kind: Secret
metadata:
  name: inventory-api-secrets
  namespace: inventory-staging
type: Opaque
stringData:
  APP_KEY: "base64:REPLACE_ME"
  JWT_SECRET: "REPLACE_ME"
  DB_PASSWORD: "REPLACE_ME"
